h1 {
	text-align: center;
	font-family: "Comic Sans MS", cursive, sans-serif;
	font-size: x-large;
	margin-bottom: 30px;
}

p {
	font-family: "Comic Sans MS", cursive, sans-serif;
	font-size: 12px;
	background-color: gray;
	border: 2px solid black;
	padding: 10px;
	margin-left: 2.5%;
	margin-right: 2.5%;
	margin-bottom: 15px;
	margin-top: 15px;
	box-sizing: border-box;
	float: left;
}

div {
	margin: 0;
}

span {
	font-family: "Comic Sans MS", cursive, sans-serif;
	font-size: 16px;
	text-align: center;

	position: relative;
	bottom: 12px;
	left: 12px;

	border: 1px solid black;
	padding: 2px;
	box-sizing: border-box;
	float: right;
}

#chicken {
	background-color: #DEB887;
}

#beef {
	background-color: #A52A2A;
	color: white;
}

#sushi {
	background-color: white;
}

@media (min-width: 992px) {
	.firstline{
		width: 30%;
	}

	.secondline{
		width: 30%;
	}
}

@media (min-width: 768px) and (max-width: 991px) {
	.firstline{
		width: 46.25%;
	}
	.secondline{
		width: 95%;
	}
}

@media (max-width: 767px) {
	.firstline{
		width: 95%;
	}
	.secondline{
		width: 95%;
	}
}